parameters:
	ignoreErrors:
		-
			message: "#^Method BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Admin\\\\Scripts\\:\\:addScreen\\(\\) has parameter \\$pageHooks with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Admin/Scripts.php

		-
			message: "#^Method BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Admin\\\\Scripts\\:\\:addScreen\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Admin/Scripts.php

		-
			message: "#^Parameter \\#4 \\$ver of function wp_enqueue_style expects bool\\|string\\|null, int\\|false given\\.$#"
			count: 1
			path: src/Admin/Scripts.php

		-
			message: "#^Call to an undefined method object\\:\\:addSection\\(\\)\\.$#"
			count: 2
			path: src/Admin/Settings.php

		-
			message: "#^Cannot call method delete\\(\\) on BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Dependencies\\\\Micropackage\\\\Filesystem\\\\Filesystem\\|null\\.$#"
			count: 1
			path: src/Cli/DumpHooks.php

		-
			message: "#^Cannot call method exists\\(\\) on BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Dependencies\\\\Micropackage\\\\Filesystem\\\\Filesystem\\|null\\.$#"
			count: 1
			path: src/Cli/DumpHooks.php

		-
			message: "#^Cannot call method getFilesystem\\(\\) on BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Runtime\\|null\\.$#"
			count: 1
			path: src/Cli/DumpHooks.php

		-
			message: "#^Cannot call method get_calls\\(\\) on BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Runtime\\|null\\.$#"
			count: 1
			path: src/Cli/DumpHooks.php

		-
			message: "#^Cannot call method put_contents\\(\\) on BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Dependencies\\\\Micropackage\\\\Filesystem\\\\Filesystem\\|null\\.$#"
			count: 1
			path: src/Cli/DumpHooks.php

		-
			message: "#^Cannot call method path\\(\\) on BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Dependencies\\\\Micropackage\\\\Filesystem\\\\Filesystem\\|null\\.$#"
			count: 1
			path: src/Core/Templates.php

		-
			message: "#^Parameter \\#1 \\$carrier of static method BracketSpace\\\\Notification\\\\Register\\:\\:carrier\\(\\) expects BracketSpace\\\\Notification\\\\Interfaces\\\\Sendable, mixed given\\.$#"
			count: 1
			path: src/Repository/CarrierRepository.php

		-
			message: "#^Method BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Repository\\\\Recipient\\\\ExampleRecipient\\:\\:input\\(\\) has invalid return type BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Repository\\\\Recipient\\\\Fillable\\.$#"
			count: 1
			path: src/Repository/Recipient/ExampleRecipient.php

		-
			message: "#^Method BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Repository\\\\Recipient\\\\ExampleRecipient\\:\\:input\\(\\) should return BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Repository\\\\Recipient\\\\Fillable but returns BracketSpace\\\\Notification\\\\Repository\\\\Field\\\\SelectField\\.$#"
			count: 1
			path: src/Repository/Recipient/ExampleRecipient.php

		-
			message: "#^Access to an undefined property BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Repository\\\\Trigger\\\\ExampleTrigger\\:\\:\\$prop\\.$#"
			count: 1
			path: src/Repository/Trigger/ExampleTrigger.php

		-
			message: "#^Call to an undefined method BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Requirements\\\\BasePlugin\\:\\:addError\\(\\)\\.$#"
			count: 2
			path: src/Requirements/BasePlugin.php

		-
			message: "#^Call to an undefined method BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Dependencies\\\\Micropackage\\\\Requirements\\\\Requirements\\:\\:printNotice\\(\\)\\.$#"
			count: 1
			path: src/Runtime.php

		-
			message: "#^Cannot call method exists\\(\\) on BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Dependencies\\\\Micropackage\\\\Filesystem\\\\Filesystem\\|null\\.$#"
			count: 1
			path: src/Runtime.php

		-
			message: "#^Cannot call method path\\(\\) on BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Dependencies\\\\Micropackage\\\\Filesystem\\\\Filesystem\\|null\\.$#"
			count: 2
			path: src/Runtime.php

		-
			message: "#^Method BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Runtime\\:\\:components\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Runtime.php

		-
			message: "#^Method BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Runtime\\:\\:getFilesystem\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: src/Runtime.php

		-
			message: "#^Parameter \\#1 \\$fs of class BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Admin\\\\Scripts constructor expects BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Dependencies\\\\Micropackage\\\\Filesystem\\\\Filesystem, BracketSpace\\\\Notification\\\\XXNAMESPACEXX\\\\Dependencies\\\\Micropackage\\\\Filesystem\\\\Filesystem\\|null given\\.$#"
			count: 1
			path: src/Runtime.php
